.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    color: black;
}